@import "app/css/common"

body
    width: 100% !important
    max-width: none !important
    padding: 0 !important
    margin: 0 !important
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

button, a
    font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif
    background: $colour-background
    border-radius: $border-radius
    outline: 0
    cursor: pointer
    transition: 0.1s
    border: $border-double

    &:hover
        background: $colour-foreground
        color: $colour-background
        border: $border-double-invert

    &:active
        transform: scale(1.03)
