$item-size: 40px

ul.horizontal-icon-buttons, ul.vertical-icon-buttons
	margin: 0
	padding: 0
	display: inline-block
	
	li
		margin: 0
		padding: 0
		width: $item-size
		height: $item-size
		line-height: $item-size
		float: left
		
		&.text
			width: auto
			margin: 0 4px
			font-size: 14px
		
		button
			margin: 0
			padding: 0
			width: $item-size
			height: $item-size
			font-size: $item-size / 2
			border: none
			border-radius: 0

ul.vertical-icon-buttons
	width: $item-size
	
ul.horizontal-icon-buttons
	height: $item-size