@import "app/css/common"
$tools-padding: 20px
$tool-button-height: 60px
$tools-height: $tools-padding * 2 + $tool-button-height

.track-buttons
    position: absolute
    display: inline-block
    left: 0
    
.train-buttons
    position: absolute
    width: 100%
    text-align: center

canvas.track-canvas, canvas.grid-canvas, canvas.train-canvas
    position: absolute
    display: block
    margin: 0 auto
    touch-action: none

canvas.track-canvas, canvas.train-canvas
    border: $border-double
    border-color: transparent

canvas.grid-canvas
    border: $border-double