div class="train-logo-container"

    == container "trains.logo.InitialiseLogo" do
        pre class="ascii-logo ui-ascii-logo"
            '        o o o ~~  ~~ ~
                   o     _____
                 .][_mm__|[]| ,===___
                >(_______|__|_|_GBRR_]
                _/oo-OOOO-oo' !oo!!oo!

    div class="text"
        h1 trains

    a type="button" class="btn-play" href="/play" play


